*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial Sans-Serif;
  background: linear-gradient(to right,gray,white);
  line-height: 1.6;
  height: 80vh;
}
.cont{
  max-height: 1200px;
  margin: 0 auto;
 padding:0 20px ;
}
.header{
  background-color: skyblue;
  color: white;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo h1{
  font-size: 2rem;
  font-weight: bold;
}
.nav-links{
  list-style: none;
  display: flex;
  gap: 2rem;
}
.nav-links a{
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  background: hotpink;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.nav-links a:hover{
  background-color: deeppink;
}
.username{
  color: skyblue;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 7px;
  transition: background-color 0.3s ease-in;
}
.username:hover{
  background-color: hotpink;
}



.hero{
  height: 80vh;
  margin: 100px;
}
.main-cont{
   display: flex;
}
.right{
 flex-basis: 50%;
 padding: 2rem 2rem;
}
.heading-1{
   font-size: 2rem;
  font-weight: bold;
}
.heading-3{
  color: red;
   font-size: 2rem;
  font-weight: bold;
}
button{
  margin-top: 1rem;
  color: white;
  padding:1rem 2rem;
  background:deeppink ;
  transition: background-color 0.3s ease;
  border-radius: 6px;
   font-size: 1.4rem;
  font-weight: bold;
}
button:hover{
  background-color: hotpink;
}



.left{
  flex-basis: 50%;
   display: flex;
 justify-content: center;
 align-items: center;
}
.wash-img {
  width: 80%;
  max-width: 500px;
}
